<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<% if @user.ratings.empty? %>
 <p>has not yet rated any beers</p>
<% else %>
 <p>
 Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
 </p>

 <p>
 Favorite style: <%= @user.favorite_style %>
 </p>

 <p>
 Favorite brewery: <%= @user.favorite_brewery.name %>
 </p>
<% end %>

<% if @user.beer_clubs.any? %>
 Member of
 <% @user.beer_clubs.each do |club| %>
 <%= link_to club.name, club %>
 <% end %>
<% end %>

<p>
  <strong> ratings </strong>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
<%= link_to 'Change password', edit_user_path(@user) %> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
