<p id="notice"><%= notice %></p>

<h1>
  <%= @style.name %>
</h1>

<p>
  <quote>
  <%= @style.text %>
  </quote>
</p>

<% if @style.beers.any? %>
  <p>
    <strong> Beers: </strong>
    <ul>
      <% @style.beers.each do |beer| %>
          <li><%= link_to beer.name, beers_path(beer.id) %> by <%= link_to beer.brewery.name, breweries_path(beer.brewery.id) %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= edit_and_destroy_buttons(@style) %>