<p id="notice"><%= notice %></p>

<h1><%= @place.name %></h1>

<p><%= @place.street %></p>

<p><%= @place.zip %> <%= @place.city %></p>


<IFRAME SRC=<%= @place.blogmap %> WIDTH="695" HEIGHT="400" MARGINWIDTH=0 MARGINHEIGHT=0 FRAMEBORDER="NO" SCROLLING="YES" STYLE="border-width:0px; "></IFRAME>

